---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Acerca de mí</Fragment>
      <Fragment slot="desc">(Economista especializado en finanzas y ciberseguridad.)</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Entusiasta de Bitcoin y de toda la tecnología que hay detrás
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Como graduado en la carrera de Economía, he podido discernir mucho mejor que es el dinero. Y es que como apunté en mi TFG, nos econtramos en un cambio
        de paradigma en muchos sectores, entre ellos especialmente el financiero. Llevo varios años de mi vida posicionandome a favor de las criptomonedas 
        sin importarme la frontal oposición de amigos, familia, profesores (Doctores en Economía) y es que con el tiempo he comprendido 
        que de nada sirve hablar. Lo importante es formarse y poder comprender las ventajas y desventajas de aquello de lo que hablamos. 
        Haciendo referencia a uno de mis inversores favoritos, Emérito Quintana, "Duermo mucho más tranquilo con Bitcoin en cartera".
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
