---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Donativo">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Gracias por tu ayuda</Fragment>
      <Fragment slot="desc">Este mecenazgo será distribuido entre todos aquellos que realicen contribuciones.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Dirección de Bitcoin</h2>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:bitcoin" />
            <span>32sTZE86Bh2kRxN8zSmtDyeTn6vdXnhdR7</span>
          </div>
        </div>
        <br> <h2 class="font-medium text-2xl text-gray-800">Dirección de Ethereum y EVM (Optimism, Arbitrum, Base...)</h2>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
          <span>0x26d197bB4ac8268285a93b86a03e498f29cF5ce4</span>
        </div>
      </div>
    </div>
  </Container>
</Layout>