---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Content from "../content/operaciones/op.mdx";
---

<Layout title="Operaciones">
  <Container>
    <div class="hidden">
      <Sectionhead title="Operaciones" />
    </div>
    <Content />
  </Container>
</Layout>

<style>
  .hidden {
    display: none; /* Oculta completamente el componente */
  }
</style>