---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-3xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      Aprovechemos juntos las oportunidades
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      El proyecto de Cryptopedia nace con el propósito de hacer más comprensible el complejo mundo de los criptoactivos mediante pequeñas pildoras de conocimiento,
      y sobretodo con el objetivo de proporcionar información valiosa sobre la gestión financiera y las posiciones que pueden generar mayores rentabilidades en este
      ciclo alcista.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/pdf"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-orange-400 text-black rounded-md"
        rel="noopener">
        <Icon class="w-5 h-5" name="bx:bxs-cloud-download" />
        Bases de la comunidad.pdf
      </Link>
      <Link
        size="lg"
        rel="noopener"
        href="/contact"
        class="flex gap-1 items-center justify-center border border-orange-400 text-orange-400 rounded-md"
        target="_blank">
        <Icon class="w-4 h-4" name="bx:bxl-github" />
        Quiero crear contenido
      </Link>
    </div>
  </div>
</main>

    
