---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';
import "../styles/tailwind.css";

// Recibimos la prop hideNavbar desde las páginas
export interface Props {
  title: string;
  hideNavbar?: boolean; // Se agrega la propiedad hideNavbar como opcional
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
`/opengraph.jpg?version=${Date.now()}`,
  Astro.site
).toString();

const { title, hideNavbar } = Astro.props;

const makeTitle = title
  ? title + " | " + "Cryptopedia"
  : "Cryptopedia - Una comunidad abierta sobre crypto";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LOGO.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO Meta Tags -->
    <SEO
      title={makeTitle}
      description="Accede a información de calidad para poder invertir mejor."
      canonical={canonicalURL}
      twitter={{
        creator: "@pedro",
        site: "@cryptopedia",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Cryptopedia - Una comunidad abierta sobre crypto`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    {/* Si hideNavbar es falso o no está presente, se renderiza el Navbar */}
    {!hideNavbar && <Navbar />}
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
